* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato";
}

/* początkowy widok */

.header {
  height: 100vh;
}

.insta {
  height: 30px;
  position: absolute;
  top: 50px;
  right: 50px;
}

#logo.flex-container {
  margin: 5px;
}

#logo img {
  display: block;
  margin: 0 auto;
  max-width: 95%;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px 0;
  justify-content: space-around;
}

.navigation li {
  padding: 10px 40px;
}

.navigation li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  color: rgb(95, 95, 95);
  font-weight: 300;
  letter-spacing: 2px;
  transition: color 0.2s;
}

.navigation li a:hover {
  color: black;
}

@media (max-width: 1000px) {
  .header {
    height: auto;
  }

  .navigation li a {
    font-size: 26px;
  }

  .insta {
    display: none;
  }
}

@media (max-width: 790px) {
  .navigation li {
    width: 100%;
    text-align: center;
  }
}

/* sekcja about */

.about {
  display: flex;
  padding: 150px 20px;
  justify-content: center;
  align-items: center;
}

.about img {
  padding-right: 30px;
}
.about div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 420px;
  height: 300px;
}

@media (max-width: 1000px) {
  .about div {
    width: 300px;
    height: 400px;
  }
}

@media (max-width: 805px) {
  .about {
    flex-wrap: wrap;
    height: auto;
    padding: 80px 0;
  }

  .about div {
    padding: 30px;
    width: 400px;
    height: auto;
  }

  .about img {
    padding: 30px;
  }

  .about div p {
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .about img {
    width: 95%;
    padding: 10px;
  }

  .about {
    padding: 40px 0;
  }
}

/* portfolio */
.portfolio,
.contact {
  width: 100%;
  padding: 5px;
}

.portfolio h2 {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 80px;
  letter-spacing: 3px;
}

.brands {
  /* background-color: aliceblue; */
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}

.brands li img {
  width: 250px;
  margin: 50px 30px;
}

/* contact */

.contact {
  width: 80%;
  max-width: 800px;
  margin: 80px auto;
}

.contact h2 {
  /* font-size: 30px; */
  /* font-weight: 400; */
  padding-bottom: 20px;
}

.contact .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact p {
  width: 50%;
}

.contact ul li {
  padding: 10px;
}

.contact a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.2s;
}

.contact a:hover {
  color: rgb(95, 95, 95);
}

@media (max-width: 960px) {
  .contact {
    width: 90%;
    max-width: fit-content;
  }
}

@media (max-width: 760px) {
  .contact h2 {
    text-align: center;
  }

  .contact .container {
    flex-direction: column-reverse;
  }

  .contact p {
    width: 90%;
  }

  .contact ul {
    padding: 20px 0 40px;
  }
}

footer {
  text-align: center;
  padding: 15px;
  font-size: small;
  opacity: 0.4;
}
